#services{
    margin: 34px;
    display: flex;
}

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    width: 33%;
    margin: 2px 55px;
    border-radius: 6px;
    background: #f2f2f2;
    margin-top: 40px;
}

#services .box img{
    height: 160px;
    margin: auto;
}
.center {
    text-align: center;
}

a{
    text-decoration: none;
    color: salmon;
}

a:hover{
    color: rgb(197, 2, 2);
}


.ambiencepara{
    font-size: larger;
    margin-top: 2%;
    margin-left: 80px;
    padding: 20px;
    border: 2px solid salmon;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 70%;
}

.foodpara{
    font-size: larger;
    margin-top: 2%;
    padding: 10px;
    margin-left: 80px;
    border: 2px solid salmon;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 70%;
}
.roompara{
    font-size: larger;
    margin-top: 2%;
    margin-left: 80px;
    padding: 10px;
    border: 2px solid salmon;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 70%;
}